<div class="container" style= "margin-bottom:50px;">
  <h1>About Me</h1>
</div>  
<div class="container">
    <div class="row">
        <div class="col-6">
            <img class="img-responsive" src="Portrait.jpg"  class="img-fluid" alt="Portrait image">
        </div>
    </div>  
</div>
