<div class="container" style= "margin-bottom:50px;">
  <h1>About Me</h1>
</div>  
<div class="container">
    <div class="row align-items-start">
        <div class="col-6">
            <img class="img-responsive" src="/Portrait.jpg" class="img-fluid" alt="Responsive image">
        </div>
    </div>  
</div>
