<div
    class="bg-image"
    style="background-image: url('https://wallpapercave.com/wp/wp5326636.jpg'); height: 100vh;">
    <div class="container" style= "margin-bottom:50px;">
        <h1 style="color:white">About Me</h1>
    </div>

    <!-- NAME SECTION -->  
    <div class="container">
        <div class="row row-cols-5 row-col-5">
            
            <h5 style="color:white">I am Mostafa Asaad</h5>
            <p style="color:white">This is another paragraph.</p>
            






            <div class="container">
    
        
        
            <img class="img-responsive" src="/Assets/images/Portrait.jpg" alt="Portrait image">
            </div>
        </div>
        
    </div>  
</div>
