<div
    class="bg-image"
    style="background-image: url('https://wallpapercave.com/wp/wp5326636.jpg'); height: 100vh;">
    <div class="container" style= "margin-bottom:50px;">
        <h1 style="color:white">About Me</h1>
    </div>

    <!-- NAME SECTION -->  
    <div class="container">
        <div class="row align-items-start">
            <div class="col-6">
                <h4 style="color:white">Mostafa Asaad</h4>
                <h6 style="color:white">GIS Software Developer | Geomatics Engineer </h6>
                <h6 style="color:white">Mississauga, Ontario, Canada </h6>
                <div style="font-size:20px">
                    <div class="rounded-lg">
                    <div class="col border border-bottom bg-light">
                        <div style= "margin:20px;"> 
                            <p style="color:black" >A GIS analyst with a Master’s degree in Geographic Information System and Cartography from University of Aberdeen. I also have background in Geomatics Engineering with 3 years of experience in the domain. My latest experience and projects were focused on using spatial analysis, R programming as well as remote sensing techniques in GIS.</p>
                        </div>
                    </div>
                    </div>
                </div>    
            </div>
            <div class="col">
            
                <div class="container">
                    <div style= "margin-left:200px;">
                        <div class="row row-cols-2 row-col-1">
                            <img class="img-responsive" src="/Assets/images/Portrait.jpg" alt="Portrait image">
                        </div>    
                    </div>
                 </div>
            </div>
        </div>
        
    </div>  
</div>
