<div
    class="bg-image"
    style="background-image: url('https://wallpapercave.com/wp/wp5326636.jpg'); height: 100vh;">
    <div class="container" style= "margin-bottom:50px;">
        <h1 style="color:white">About Me</h1>
    </div>

    <!-- NAME SECTION -->  
    <div class="container">
        <div class="row">
           <div class="col-4">
            <h4 style="color:white">Mostafa Asaad</h4>
            <p style="color:white">A GIS Software Developer</p>
            






            <div class="container">
    
        
        
        <div class="row row-cols-5 row-col-5">
            <img class="img-responsive" src="/Assets/images/Portrait.jpg" alt="Portrait image">
            </div>
            </div>
            </div>
        </div>
        
    </div>  
</div>
