<div class="container" style= "margin-bottom:50px";>
  <h1>About Me</h1>
  <div class="container">
    <div class="row align-items-start">
        <div class="col-6">
            <img src="/Client/Assets/images/Portrait.jpg" class="img-fluid" alt="Responsive image">
        </div>
    </div>  
  </div>
</div>