
<!-- Page Title -->
<div class="container" style= "margin-bottom:100px;">
  <div class="row align-items-start">
    <div class="col">
     <h1>Contact Me</h1> 
    </div>
    <div class="col">
      <div style= "margin-left:20px;"> 
      <h3>Connect</h3>
    </div>
  </div>
</div>  

<!-- Message form -->

<div class="container ">
  <div style= "margin-bottom:10px;"> 
    <h5>Please contact me using the form bellow</h5>
  </div> 
  <div class="col-6 border border-bottom rounded-lg bg-light">
    <div style= "margin:20px;">  
    <!-- First and last name -->        
      <div class="input-group mb-3" style= "margin-top:20px;" >
        <span class="input-group-text">Name</span>
        <input type="text" placeholder="First Name" aria-label="First name" class="form-control">
        <input type="text" placeholder="Last Name" aria-label="Last name" class="form-control">
      </div>    
    <!-- email Form -->  
      <div class="input-group flex-nowrap mb-3">
        <span class="input-group-text" id="addon-wrapping">Email</span>
        <input type="text" class="form-control" placeholder="name@example.com" aria-label="email address" aria-describedby="addon-wrapping">
      </div>    
    <!-- Phone number -->     
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Phone</span>
        <input type="text" placeholder="Phone number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>  
    <!-- Comments -->    
      <div class="form-floating mb-3">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 150px"></textarea>
        <label for="floatingTextarea2">Message</label>
      </div>    
    <!-- Click Buttons -->  
          <input class="btn btn-primary" type="submit" value="Send" >
      <input class="btn btn-primary" type="submit" value="Clear" >
        </div>
  </div>
  
</div>
