
<!-- Page Title -->
<div class="container-xl" style= "margin-bottom:100px;">
  
  <div class="mx-auto" style="width: 300px;"></div>
    <h1>Contact Me</h1>
  </div>
</div>  

<div class="container ">
  <div class="col-6 border border-bottom rounded-lg bg-light">
  <!-- First and last name -->

  <div  style="margin-left:20px;" >
    
      <div class="input-group mb-3" style= "margin-top:20px;" >
        <span class="input-group-text">Name</span>
        <input type="text" placeholder="First Name" aria-label="First name" class="form-control">
        <input type="text" placeholder="Last Name" aria-label="Last name" class="form-control">
      </div>
    
  


  <!-- email Form -->
  
    
      <div class="input-group flex-nowrap mb-3">
        <span class="input-group-text" id="addon-wrapping">Email</span>
        <input type="text" class="form-control" placeholder="name@example.com" aria-label="emial address" aria-describedby="addon-wrapping">
      </div>
    
  


<!-- Phone number -->

  
    
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Phone</span>
        <input type="text" placeholder="Phone number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
    
  
  

<!-- Comments -->
  
    
      <div class="form-floating mb-3">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 150px"></textarea>
        <label for="floatingTextarea2">Message</label>
      </div>
    
  
  
  
  
    
      <input class="btn btn-primary" type="submit" value="Send" style= "margin-bottom:20px;">
      <input class="btn btn-primary" type="submit" value="Clear" style= "margin-bottom:20px;">
    
    </div>
  </div>
  
</div>
