
<!-- Page Title -->
<div class="container-xl" style= "margin-bottom:200px;">
  <div class="item border-0 rounded-top"></div>
  <div class="mx-auto" style="width: 300px;"></div>
    <h1>Contact Me</h1>
  </div>
</div>  
<div class="item border-0 rounded-top"></div>
<div class="container">
  <!-- First and last name -->

  <div class="row h-100 justify-content-center align-items-center gy-5">
    <div class="col-6">
      <div class="input-group mb-3">
        <span class="input-group-text">Name</span>
        <input type="text" placeholder="First Name" aria-label="First name" class="form-control">
        <input type="text" placeholder="Last Name" aria-label="Last name" class="form-control">
      </div>
    </div>
  </div>


  <!-- email Form -->
  <div class="row h-100 justify-content-center align-items-center gy-5">
    <div class="col-6">
      <div class="input-group flex-nowrap mb-3">
        <span class="input-group-text" id="addon-wrapping">Email</span>
        <input type="text" class="form-control" placeholder="name@example.com" aria-label="emial address" aria-describedby="addon-wrapping">
      </div>
    </div>
  </div>


<!-- Phone number -->

  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-6">
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Phone</span>
        <input type="text" placeholder="Phone number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
    </div>
  </div>
  

<!-- Comments -->
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-6">
      <div class="form-floating mb-3">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
        <label for="floatingTextarea2">Message</label>
      </div>
    </div>
  </div>
  
  
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-6">
      <input class="btn btn-primary" type="submit" value="Send">
      <input class="btn btn-primary" type="submit" value="Clear">
    </div>
  </div> 
  
  
</div>
