<!-- background image -->
<div
       class="bg-image"
       style="background-image: url('https://wallpapercave.com/wp/wp5326636.jpg'); height: 100vh;">
       
       
       <div class="row"></div>
       <div class="container" >
       
       <div class="container" style= "margin-bottom:50px;">
       <h1 style="color:white">Welcome my Portfolio!</h1>
       </div>
        <div style="font-size:19px">
       <p style="color:white" >My mission is to use my knowledge in GIS and software development to develop GIS applications for more accurate studies and better decision making. </p>
        </div>
        </div>

        <div class="container" style="margin-top:50px">
                </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>

</div>