<div class="container">
   
    <h1 style="color:blue">Welcome my Portfolio!</h1>

</div>
<div
  class="bg-image"
  style="background-image: url('https://wallpapercave.com/wp/wp5326599.jpg'); height: 100vh;">
  
  <h1 style="color:blue">Welcome my Portfolio!</h1>
  
</div>