<!-- background image -->
<div
       class="bg-image"
       style="background-image: url('https://wallpapercave.com/wp/wp5326636.jpg'); height: 100vh;">
       
       
       <div class="row"></div>
       <div class="container" >
       
       <div class="container" style= "margin-bottom:50px;">
       <h1 style="color:white">Welcome my Portfolio!</h1>
       </div>
        <div style="font-size:20px">
       <p style="color:white" >A GIS software developer with a Master’s degree in Geographic Information System and Cartography from University of Aberdeen.
                             I also have background in Geomatics Engineering with 3 years of experience in the domain. 
                             My latest experience and projects were focused on using spatial analysis, R programming as well as remote sensing techniques in GIS.
                              Currently I am completing a fast track program in software technology and looking forward to implementing this knowledge in GIS.</p>
        
        </div>
        </div>
</div>