<div
   class="bg-image"
   style="background-image: url('https://wallpapercave.com/wp/wp5326664.jpg'); height: 150vh;">


    <div class="container" style= "margin-bottom:50px;">
        <h1 style="color:white">My Projects</h1>
    </div>
<div class="container" >
  

        <!-- Projects -->

        <!-- Walkability study -->

        <div class="row align-items-center">
            <div class="col">
                <div class="card" style="width: 26rem;">
                    <img src="Assets/images/Walkability.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Walkability study</h5>
                            <p class="card-text">This was my thesis in my Master's degree in GIS. In this project, I used MCE methods to detect walkability patterns in Mississauga and Brampton cities. This final map shows areas that are highly attractive for pedestrains and bikers and others that are not.  study depended on multiple factors like:</p>
                            <li>Proximity to destination map</li>
                            <li>Residential density map</li>
                            <li>Commercial density map</li>
                            <li>Walk friendliness map</li>
                            <li>Land-use diversity map</li>
                            <li>Safety map</li>
                        </div>
                    </div>
                </div>

                <!-- web development -->

                <div class="col">
                    <div class="card" style="width: 26rem;">
                        <img src="Assets/images/webdev.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Web and Application Development</h5>
                                <p class="card-text">Writing, editing, and designing webpages and applications</p>
                            </div>
                        </div>
                    </div>

                    <!-- Remote Sensing -->

                    <div class="col">
                        <div class="card" style="width: 26rem;">
                            <img src="Assets/images/RSensing.jfif" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Remote Sensing</h5>
                                    <p class="card-text">Detecting and monitoring the physical characteristics of an area using remote sensing and AI</p>
                                </div>
                            </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>    
