<nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container-fluid">
      <h4>&copy; Copyright 2021.</h4>
      <div class="col-2" style= "margin-top:10px;">
              <h5 style="color:black">moe.asd@gmail.com</h5>
            </div>
    </div>
  </nav>