<nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container-fluid">
      <div class="row align-items-start">
        <div class="col-8">
          <h4>&copy; Copyright 2021.</h4>
        </div>  



      
        <div class="col">
          <i class="fas fa-phone-square-alt fa-2x"></i>
            </div>
            <div class="col-2">
              <h5 style="color:black">(001)4373314797</h5>
            </div>
          </div>
          
            <div class="col">
              <i class="fas fa-envelope-square fa-3x"></i>
            </div>
            <div class="col-2">
              <h5 style="color:black">moe.asd@gmail.com</h5>
            </div>
            </div>
    </div>
  </nav>